@model _04_MVC_Ejercicio1_PasarDatosAControlador.Models.ViewModels.clsPersonaConNombreDepartamento
@{
    ViewBag.Title = "PersonaModificada";
}

<h2>PersonaModificada</h2>

<html>

<body>

    ID: @Html.Display("idPersona") <br />
    Nombre: @Html.Display("nombre") <br />
    Apellidos: @Html.Display("apellidos")<br />
    Fecha de nacimiento: @Html.Display("fechaNacimiento")<br />
    Direccion:@Html.Display("direccion")<br />
    Telefono: @Html.Display("telefono") <br />
    ID Departamento: @Html.Display("idDepartamento") <br />
    Departamento: @Html.Display("nombreDepartamento")<br/>


</body>

</html>

